<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games | GameShare</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/games/list.css">
</head>
<body class="bg-dark text-white">
    <div class="container mt-5 px-5">
        <div class="row no-gutters">
            <div class="col-12">
                <h1>Games</h1>
                <div class="dropdown-divider"></div>
            </div>
            <% games.forEach(game => { %>
                <div class="col-3 px-1 my-3 align-self-center">
                    <a href="/games/<%= game._id %>">
                        <img class="w-100 border rounded shadow game" src="<%= game.image %>">
                    </a>
                    <p class="text-center my-2" style="font-size: 0.75rem">
                        <span>&nbsp;&nbsp;&nbsp;🤍&nbsp;<%= game.reviews.length %> reviews</span>
                        <span>&nbsp;&nbsp;&nbsp;🔆&nbsp;<%= game.avgRating %> rating</span>
                    </p>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
