<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
    <div class="row">
        <div class="col">
            <h1>My Lists</h1>
            <form action="/list/new" class="inline">
                <button class="float-left submit-button">Create New List</button>
            </form>
        </div>
    </div>
</div>
<%- include (".././partials/footer") %>
