<%- include ("./partials/header") %>
  <title>400 Error | GameShare</title>
  <%- include ("./partials/loginNavbar") %>
    <div class="container text-center text-light my-4 h-100">
        <h1 class="error mt-4 pt-4">400 Bad Request</h1>
        <p>Oops, your request resulted in an error.</p>
        <hr style="height: 420px;">
    </div>
<%- include ("./partials/footer") %>