<%- include ("./partials/header") %>
  <title>404 Error | GameShare</title>
  <%- include ("./partials/loginNavbar") %>
    <div class="container text-center text-light my-4 h-100">
        <h1 class="error mt-4 pt-4">404 Not Found</h1>
        <p>Oops, we can't seem to find what you're looking for.</p>
        <hr style="height: 420px;">
    </div>
<%- include ("./partials/footer") %>