<%- include ("./partials/header") %>
  <title>404 Error | GameShare</title>
  <%- include ("./partials/loginNavbar") %>
    <div class="container text-center text-light mb-4">
        <h1 class="error">404 Not Found</h1>
    </div>
</body>
</html>

