  <footer class="text-center text-white p-3">
    <!-- App Title -->
    <p>GameShare 2022</p>
    <!-- App Title -->
    <p class="text-center mb-0">
      Developed by: <a href="https://github.com/santiagodg">Santiago D.</a>, <a href="https://github.com/yulisam2">Yulisa M.</a>, <a href="https://github.com/lorena-ang">Lorena A.</a>, & <a href="https://github.com/abrahamharos">Abraham H.</a> © 2022
    </div>
  </footer>
  
  <!-- Bootstrap core JavaScript
      ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>
