<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main text-white">
    <h1 class="text-center mb-5">Administrative Dashboard</h1>
    <div class="row no-border">
        <div class="col-12 col-md-4 mb-3">
            <a href="/admin/games" class="d-block card dark shadow-md p3">
                <h2 class="my-5 text-center">Games</h2>
            </a>
        </div>
    </div>
</div>
<%- include (".././partials/footer") %>
