<%- include (".././partials/header") %>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
    <h1 class="text-center mb-5">Administrative Dashboard</h1>
    <div class="row no-border">
        <div class="col-12 col-md-4 mb-3">
            <a href="/admin/games" class="d-block rounded p-3 admin-card">
                <p class="my-5 text-center h1">Games</p>
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <a href="/admin/users" class="d-block rounded p-3 admin-card" >
                <p class="my-5 text-center h1">Users</p>
            </a>
        </div>
    </div>
</div>
<%- include (".././partials/footer") %>
