<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Admin Dashboard | GameShare</title>
</head>
<body>
    <div class="container my-5 flex-grow-1">
        <h1 class="text-center mb-5">Administrative Dashboard</h1>
        <div class="row no-border">
            <div class="col-12 col-md-4 mb-3">
                <a href="/admin/games" class="d-block card dark shadow-md p3">
                    <h2 class="my-5 text-center">Games</h2>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
