<%- include (".././partials/header") %>
<title>Manage Games | GameShare</title>
<%- include (".././partials/navbar") %>
<div class="container py-5 h-100 main">
        <h1 class="text-center my-2">Manage Games</h1>
        <div id="jsGrid" class="text-body mb-3"></div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    var games = <%- JSON.stringify(games) %>
    games.map(function(e){
        if(e.avgRating){
            e.avgRating = e.avgRating.toFixed(2)
        }
    })
    $("#jsGrid").jsGrid({
        fields: [
            {
                type: "text",
                name: "name",
                title: "Name",
                align: "center",
                css: "text-break",
            },
            {
                type: "text",
                name: "image",
                title: "Image",
                align: "center",
                css: "text-break",
            },
            {
                type: "checkbox",
                name: "isVideogame",
                title: "IsVideogame",
                align: "center",
            },
            {
                type: "text",
                name: "description",
                title: "Description",
                align: "center",
                css: "text-break",
                width: 300,
            },
            {
                type: "number",
                name: "avgRating",
                title: "AvgRating",
                align: "center",
                editing: false,
            },
            {
                type: "checkbox",
                name: "deleted",
                title: "Deleted",
                align: "center",
            },
            {
                type: "control",
            },
        ],

        autoload: true,

        controller: {
            loadData: (filter) => {
                return games
            },

            insertItem: async (item) => {
                response = await axios.post('/admin/games', item)

                if (response.status !== 200) {
                    return Promise.reject()
                }

                inserted_item = response.data
                return Promise.resolve(inserted_item)
            },

            updateItem: async (item) => {
                response = await axios.put(`/admin/games/${item._id}`, item)

                if (response.status !== 200) {
                    return Promise.reject()
                }

                updated_item = response.data
                return Promise.resolve(updated_item)
            },

            deleteItem: async (_item) => {
                return Promise.reject()
            }
        },

        width: '100%',
        inserting: true,
        editing: true,
        deleteConfirm: 'Hard-deleting games is not allowed, enable the "deleted" property of the game instead which will soft-delete it.',
    })
</script>
<%- include (".././partials/footer") %>
