:root {
    --bg-color: rgb(18, 18, 18);
    --bg-color-1: rgba(255, 255, 255, 0.05);
    --bg-color-2: rgba(255, 255, 255, 0.10);
    --bg-color-3: rgba(255, 255, 255, 0.15);
    --primary: rgb(239, 154, 154) !important;
    --primary-50: rgba(239, 154, 154, 0.5) !important;
    --secondary: rgb(211, 47, 47) !important;
    --font-color-emphasis: rgba(255, 255, 255, 0.87);
    --font-color-medium: rgba(255, 255, 255, 0.60);
    --font-color-disabled: rgba(255, 255, 255, 0.38);
}

::placeholder {
    color: var(--font-color-disabled);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-emphasis)
}

html,
body {
    min-height: 100vh;
    color: var(--font-color-medium)
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--bg-color-3);
}

/* option {
    color: var(--font-color-medium);
    background-color: var(--bg-color-1);
} */

.hero {
    background-color: var(--bg-color-1);
}

.navbar {
    background-color: var(--bg-color-3);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-outline-primary:focus {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.2rem var(--primary-50)
}

.btn-primary {
    color: #000;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-primary:focus {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.2rem var(--primary-50)
}

.main {
    flex-grow: 1;
}

.login {
    background-color: var(--bg-color-1);
}

.form-control {
    color: var(--font-color-medium);
    background-color: var(--bg-color-1);
    transition: background-color 0.1s;
}

.form-control:focus {
    color: var(--font-color-medium);
    background-color: var(--bg-color-2);
}

.game {
    transition: border 0.1s, padding 0.1s;
    border: 1px solid white;
    padding: 2px;
}

.game:hover {
    box-sizing: border-box;
    border: 3px solid var(--secondary) !important;
    padding: 0;
}

.game-list {
    background-color: var(--bg-color-1);
}

.custom-select {
    color: var(--font-color-medium);
    background-color: #1e1e1e;
}

.game-rate-box {
    background-color: var(--bg-color-1);
}

.dropdown-divider {
    border-top: 1px solid var(--font-color-disabled)
}

.admin-card {
    background-color: var(--bg-color-1);
}

.nav-link:hover {
    text-decoration: underline;
}