:root {
    --bg-color: rgb(18, 18, 18);
    --bg-color-1: rgba(255, 255, 255, 0.05);
    --bg-color-2: rgba(255, 255, 255, 0.10);
    --bg-color-3: rgba(255, 255, 255, 0.15);
    --primary: rgb(166, 114, 189) !important;
    --primary-50: rgba(239, 154, 154, 0.5) !important;
    --secondary: rgb(144, 91, 167) !important;
    --font-color-emphasis: rgba(255, 255, 255, 0.87);
    --font-color-medium: rgba(255, 255, 255, 0.60);
    --font-color-disabled: rgba(2ßß55, 255, 255, 0.38);
}

::placeholder {
    color: var(--font-color-disabled);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-emphasis)
}

html,
body {
    min-height: 100vh;
    color: var(--font-color-medium)
}

a, .pink-text {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

.hero {
    background-color:rgb(24, 24, 24);
}

.navbar, footer {
    background-color:rgb(36, 36, 36);
}

.nav-item {
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
}

.nav-signed {
    color: var(--primary);
    font-weight: normal;
    font-size: 16px;
    display: block;
    padding: .7rem 4px;
    text-align: right;
}

.nav-link:hover {
    color: var(--secondary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-outline-primary:focus {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.2rem var(--primary-50)
}

.btn-primary {
    color: #000;
    color:rgb(255, 255, 255);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-primary:focus {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.2rem var(--primary-50)
}

.main {
    flex-grow: 1;
}

.login {
    background-color:rgb(24, 24, 24);
}

.form-control {
    color: var(--font-color-medium);
    background-color: var(--bg-color-1);
    transition: background-color 0.1s;
    border-color: rgb(69, 69, 69);
}

.form-control:focus {
    color: var(--font-color-medium);
    background-color: var(--bg-color-2);
}

/* .game {
    transition: border 0.1s, padding 0.1s;
    border: 1px solid white;
    padding: 2px;
}

.game:hover {
    box-sizing: border-box;
    border: 3px solid var(--secondary) !important;
    padding: 0;
} */

.game-list {
    background-color: var(--bg-color-1);
    border-color: rgb(69, 69, 69);
}

.custom-select {
    color: var(--font-color-medium);
    background-color: #1e1e1e;
    border-color: rgb(69, 69, 69);
}

.game-rate-box {
    background-color: var(--bg-color-1);
}

.dropdown-divider {
    border-top: 1px solid var(--font-color-disabled)
}

.admin-card {
    background-color: var(--bg-color-1);
}

.carousel-size {
    max-width: 800px;
    max-height: 500px;
}

.edges {
    border-radius: 15px;
    box-shadow: 10px 10px 12px rgb(13, 13, 13);
}

.outline {
    border-color: white;
}

input[type="email"], input[type="text"], input[type="password"], input[type="username"] {
    font-size: 16px;
}

.opaque {
    opacity: 0.55;
}

.list-card {
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    box-shadow: 10px 10px 12px rgb(13, 13, 13);
}

.list-img {
    width: 140px;
    height: 150px;
    opacity: 0.7;
}

.list-empty {
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.col-img {
    width: 240px;
    height: 288px;
    align-content: flex-start;
}

.single-img {
    width: 240px;
    height: 288px;
    opacity: 0.7;
}

.game-card:hover {
    opacity: 0.6;
}

.filter {
    min-width: 175px;
}

.vr {
    background-color: var(--font-color-medium);;
    height: 40px;
    width: 1px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
    
.rating > input{
    display:none;
}
    
.rating > label {
    position: relative;
    width: 1.1em;
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}
    
.rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}
    
.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}
    
.rating > input:checked ~ label:before {
    opacity: 1;
}
    
.rating:hover > input:checked ~ label:before { 
    opacity: 0.4;
}