<%- include (".././partials/header") %>
  <title>GameShare</title>
  <%- include (".././partials/loginNavbar") %>

    <div class="jumbotron my-5 mx-auto w-80 h-100 hero edges">
      <h1 class="display-4 text-light mb-2 pt-0 mt-0">Welcome to GameShare!</h1>
      <p class="lead text-light mt-1 mb-0">The all-in-one platform to share your game lists with the community and talk about games.</p>
      <p class="lead text-light font-italic">Video game or board game... GameShare is here for you!</p>
      <hr class="my-4">
      <div id="carouselExampleIndicators" class="carousel slide mx-auto justify-content-center" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner carousel-size">
          <div class="carousel-item active">
            <img class="d-block w-100 opaque" src="/images/slides/car1.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Video Games</h5>
              <p>Have any recommendations for a specific gaming console?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 opaque" src="/images/slides/car2.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Board Games</h5>
              <p>Want to prepare some options for your game night?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 opaque" src="/images/slides/car3.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Useful Lists</h5>
              <p>Trying to keep track of all the games you like?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 opaque" src="/images/slides/car4.png" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Reviews</h5>
              <p>Want to know what other people think about games you love or hate?</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <%- include (".././partials/footer") %>