<!DOCTYPE html><!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GameShare | Register</title>
</head>

<body>
    <form action='/register' method='POST'>
        <input type="user" placeholder="Username" name="user[username]" required>
        <input type="email" placeholder="Email" name="user[email]" required>
        <input type="password" placeholder="Password" name="user[password]" required>
        <input type="password" placeholder="Confirm Password" name="user[confirm_password]" required>
        <button>Register</button>
    </form>
</body>

</html>