<%- include (".././global/header") %>
<%- include (".././global/loginNavbar") %>
        <section class="gradient-custom" style="background-color: #28869e;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="container">
                                    <a>
                                        <img src="/images/logo.png" height="50" alt="">
                                    </a>
                                </div>
                                <div class="mt-md-4 pb-5">

                                    <p class="h1 font-weight-bold">Register</p>
                                    <p class="text-white-50 mb-5">Enter username, email and password</p>

                                    <form action="/register" method="POST">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="name" style="float: left;">Nombre</label>
                                            <input type="text" id="name" name="user[username]"
                                                class="form-control form-control-lg" placeholder="Juan Pérez" required/>

                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="email" style="float: left;">Email</label>
                                            <input type="email" id="email" name="user[email]"
                                                class="form-control form-control-lg" placeholder="mail@gmail.com" required/>

                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="password"
                                                style="float: left;">Password</label>
                                            <input type="password" id="password" name="user[password]"
                                                class="form-control form-control-lg" placeholder="••••••••" required/>

                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="Confirm Password"
                                                style="float: left;">Confirm Password</label>
                                            <input type="password" id="Confirm Password" name="user[confirm_password]"
                                                class="form-control form-control-lg" placeholder="••••••••" required/>

                                        </div>

                                        <button class="btn btn-outline-light btn-lg px-5"
                                            type="submit">Register</button>
                                    </form>
                                </div>

                                <div>
                                    <p class="mb-0">Already registered? <a href="/login"
                                            class="text-white-50 fw-bold">Log In</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include (".././global/footer") %>